.P{
    color: bisque;
}

.L{
    color: white;
    text-decoration: none;
    padding: 2px 30px;
    font-size: large;
}

.ab{
    text-align: center;
    float: right;
    margin-right: 350px;
    margin-bottom: 50px;
}

.abc{
    text-align: center;
    float: left;
    margin-left: 350px;
    margin-bottom: 50px;
}