.footer{
    height: 200px;
    border: #3a7283;
    box-sizing: border-box;
    background-image: linear-gradient(#cfdefa, rgb(30, 128, 131));
    text-align: center;
 flex: auto;
}
.tag{
    color: #000;
    text-decoration: none;
    list-style: none;  
}
.button{
   
    size: 20px;
}