.footer{
    height: 200px;
    border: #3a7283;
    box-sizing: border-box;
    background-color: gray;
    text-align: center;
 flex: auto;
}
.tag{
    color: #000;
    list-style: none; 
    text-decoration: none; 
}
.button{
    size: 20px;
}