/* .container2 {
    text-align: center;
} */

.Input {
    width: 200px;
    font-size: 20px;
    margin-right: 10px;
    background-image: linear-gradient(#cfdefa, rgb(36, 156, 161));
    border-radius: 10px;
    font-family: cursive;
}

.Input1{
    text-align: center;
}


.Button {
    size: 100px;
    font-size: 23px;
    color: black;
    font-weight: bolder;
    margin: auto;
    width: 200px;
    background-image: linear-gradient(#cfdefa, rgb(26, 186, 204));
    border-radius: 10px;
}

.Button:hover {
    color: darkblue;
}

.img1 {
    width: 50%;
    height: 850px;
    position: static;
    top: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #111010;
}

.photo {
    width: 50%;
    height: 850px;
    position: static;
    top: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #111010;
}

.description1 {
    width: 50%;
    height: 850px;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(179, 174, 174);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #131212;
    margin-top: 20px;
    float: right;
    position: absolute;
    top: 241px;
    margin-left: 800px;
    text-align: center;
}

.ttt5 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 30px;
 }

 .ttt6 {
    font-size: 20px;
    margin: 10px 0;
    margin-top: 70px;
 }

 .ttt7 {
    font-size: 18px;
    margin: 10px 0;
 }

 .ttt8 {
    font-size: 20px;
    margin: 10px 0;
    margin-top: 50px;
    text-align: justify;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px #131212;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
 }